# Dependencies
/node_modules
/npm-debug.log
.DS_Store

# Environment Variables
.env
.env.local
.env.development
.env.production

# Logging and Database
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds and Cache
/dist
/build
/temp
.cache

# Development Tools
.vscode
*.sublime-workspace

# --------------------------
# File Uploads (VERY IMPORTANT)
# --------------------------
# Multer uploads ko hamesha ignore karein kyunki yeh sensitive/badi hoti hain
# aur cloud hosting par delete ho jati hain.
/uploads
/backend/uploads